<h1 id="projects">How can I contribute to TimVideos projects?</h1>
<p>
  Due to the TimVideos project being made up of 
  <a href="/projects/">many smaller projects</a>, it can be tricky to figure
  out what is a good idea to work on! To make it easier to figure out where
  your efforts are best spent, we have a number of useful tools to help match
  you to projects.
</p><p style="font-size: larger;">
  <ul>
   <li><a class="other" href="/contribute-diagram/">Project matching table</a></li>
   <li><a class="other" href="/contribute-interactive/">Interactive project matching tool</a></li>
  </ul>
</p><p>
Once you have found a project you are interested in working on, go to the issue
tracker for the project and look for bugs marked 
<span class="good-first-bug">Good First Bug</span>. These bugs are simple
enough that you should with some help be able try to fix them. 
</p>
